*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #f4b97a;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img{
    width: 80px;
    padding-left: 5%;
}

ul{
    list-style: none;
    display: flex;
    padding-right: 5%;
}
a{
    text-decoration: none;
    color: #1a3d35;
    padding-right: 10px;
    font-family: Ubuntu;
}

a:hover{
    color: #3e8e7b;
}



h1{
    text-align: center;
    font-family: Ubuntu;
    padding-top: 4%;
    font-size:5vw;
    color: #1a3d35;
}

.main {
    display: flex;
    padding: 5%;
}

.main img{
    width: 35%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.main img:hover{
    transform: scale(1.2);
}

.box1 {
    background-color: #f9e07b;
    width: 33%;
    height: 100%;
    text-align: center;
}


.box2 {
    background-color: #b8e8e5;
    width: 33%;
    height: 100%;
    text-align: center;
}

.box3 {
    background-color: #f6dada;
    width: 33%;
    height: 100%;
    text-align: center;
}

.button{
 text-align: center;
 padding-bottom: 5%;
}

button{
    border: black 1px solid;
    width: 140px;
    height: 40px;
    font-family: Ubuntu;
    cursor: pointer;
    background-color: #3e837b;
    color: rgb(245, 245, 245);
}

button:hover{
    background-color: #55a89f;
}



/* skærm under 480px */


@media screen and (max-width:480px) {

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }
    
    .main img{
        width: 30%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    

    .box1 {
        width: 85%;
    }
    
    .box2 {
        width: 85%;
    }
    
    .box3 {
        width: 85%;
    }
    
    a{
    font-size:3vw;
    padding-right: 5px;
    }


}